<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="linhas">
                <div class="coluna">
                    <h4>texto 1</h4>
                    <ul>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                    </ul>
                </div>
                <div class="coluna">
                    <h4>texto 2</h4>
                    <ul>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                    </ul>
                </div>
                <div class="coluna">
                    <h4>texto 3</h4>
                    <ul>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                    </ul>
                </div>
                <div class="coluna">
                    <h4>texto 4</h4>
                    <ul>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                        <li><a href="#">Abcde</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>