*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;

}

.linhas{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
  background-color: #1F1F1F;
  padding: 70px 0;
}

.coluna{
  width: 25%;
  padding: 0 15px;

}

.coluna h4{
  font-size: 18px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.coluna li{
  font-size: 15px;
  color: #FFFFFF;
}